<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url={{ config.site.landing }}">
        <title>{{ config.site.title }}</title>
    </head>
    <body>
        <p>You are being redirected to <a href="{{ config.site.landing }}">{{ config.site.landing }}</a></p>
    </body>
</html>